1) Приложение должно иметь возможность выполнять такие функции, как: нарисовать фигуру, переместить нарисованную фигуру, удалить нарисованную фигуру, добавить фон к фигуре, сохранить комбинацию фигур в файле, загрузить из файла сохраненные данные или пустой файл, отменить/повторить действие.
2) Нарисовать фигуру — пользователь может выбрать одну из пяти фигур (круг, прямоугольник, треугольник, звезда, сердце).
Каждая фигура имеет свой размер.
3) Переместить нарисованную фигуру — эта опция доступна только при наличии фигур на доске.
После выбора одной из нарисованных фигур пользователь переходит в режим специального движения (каждая сторона (вверх, вниз, влево, вправо)
имеет специальный номер [1..4]
для выхода из специального режима введите 5)
4) Удалить нарисованную фигуру — эта опция доступна только при наличии фигур на доске.
5) Добавить фон к фигуре — эта опция доступна только при наличии фигур на доске.
Пользователь должен ввести символ, который будет фоном.
6) Сохранить комбинацию фигур в файле - эта функция сохраняет все фигуры в файле storage.json.
Память очистится.
7) Загрузить из файла - эта функция загружает данные из storage.json. Если файл пуст, рабочее пространство очистится.
8) Отменить действие - эта функция удаляет последнее действие. Максимум 9 действий.
9) Повторить действие - эта функция извлекает последнюю удаленную функцию. Максимум 9 действий.